<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enrollmentActions</key>
	<array>
		<dict>
			<key>arguments</key>
			<array>
				<string>-setTimeZone</string>
				<string>Europe/Amsterdam</string>
			</array>
			<key>icon</key>
			<string>symbol:clock</string>
			<key>label</key>
			<dict>
				<key>de</key>
				<string>Zeitzone setzen</string>
				<key>en</key>
				<string>Set Time Zone</string>
				<key>es</key>
				<string>Establecer zona horaria</string>
				<key>fr</key>
				<string>Définir le fuseau horaire</string>
				<key>he</key>
				<string>הגדרות אזור זמן</string>
				<key>it</key>
				<string>Imposta il fuso orario</string>
				<key>nl</key>
				<string>Tijdzone instellen</string>
			</dict>
			<key>requiresRoot</key>
			<true/>
			<key>shell</key>
			<string>/usr/sbin/systemsetup</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>https://ics.services.jamfcloud.com/icon/hash_bb4e9c7d19adf8360ff28d666b01e66c35ae3e8d190660ac496d5a8abf4276a8</string>
			<key>label</key>
			<string>Microsoft 365</string>
			<key>policy</key>
			<string>install_microsoft365</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>https://ics.services.jamfcloud.com/icon/hash_87d2224fa990a47de96f63fb2f84aa3b7304c20a3ff29412f5a7a484745fd2c9</string>
			<key>label</key>
			<string>Google Chrome</string>
			<key>policy</key>
			<string>install_chrome</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>https://ics.services.jamfcloud.com/icon/hash_d72c39716b456bb647a1cfe01942656bd25dfcdd0faaa147dcce337589b75a8a</string>
			<key>label</key>
			<string>BBEdit</string>
			<key>policy</key>
			<string>install_bbedit</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>symbol:app.badge</string>
			<key>label</key>
			<string>Jamf Protect</string>
			<key>timeout</key>
			<integer>600</integer>
			<key>watchPath</key>
			<string>/Applications/JamfProtect.app</string>
		</dict>
	</array>
	<key>finalCountdown</key>
	<integer>30</integer>
	<key>icon</key>
	<string>name:AppIcon</string>
	<key>jssID</key>
	<string>$JSSID</string>
	<key>message</key>
	<dict>
		<key>de</key>
		<string>Bitte etwas Geduld während Setup Manager deinen neuen Mac konfiguriert.</string>
		<key>en</key>
		<string>Please be patient while Setup Manager configures your new Mac.</string>
		<key>es</key>
		<string>Por favor espere mientras Setup Manager configura tu nuevo Mac.</string>
		<key>fr</key>
		<string>Veuillez être patient pendant que Setup Manager configure votre nouveau Mac.</string>
		<key>he</key>
		<string>אנא התאזר בסבלנות בזמן ש-Setup Manager מגדיר את ה-Mac החדש שלך</string>
		<key>it</key>
		<string>Sii paziente mentre Setup Manager configura il tuo nuovo Mac.</string>
		<key>nl</key>
		<string>Even geduld terwijl Setup Manager je nieuwe Mac configureert.</string>
	</dict>
	<key>title</key>
	<dict>
		<key>de</key>
		<string>Willkommen!</string>
		<key>en</key>
		<string>Welcome!</string>
		<key>es</key>
		<string>¡Bienvenido!</string>
		<key>fr</key>
		<string>Bienvenu!</string>
		<key>he</key>
		<string>ברוכים הבאים!</string>
		<key>it</key>
		<string>Benvenuto!</string>
		<key>nl</key>
		<string>Welcom!</string>
	</dict>
	<key>userEntry</key>
	<dict>
		<key>assetTag</key>
		<dict>
			<key>placeholder</key>
			<string>ABC12345</string>
		</dict>
		<key>computerName</key>
		<string>Mac-12345</string>
		<key>department</key>
		<dict>
			<key>options</key>
			<array>
				<string>Sales</string>
				<string>R&amp;D</string>
				<string>IT</string>
			</array>
		</dict>
		<key>userID</key>
		<dict>
			<key>placeholder</key>
			<dict>
				<key>de</key>
				<string>vorname.nachname@example.com</string>
				<key>en</key>
				<string>first.last@example.com</string>
				<key>nl</key>
				<string>voornaam.achternaam@example.com</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
